
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'employe.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'employe.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'employe.ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'employe.ref' | translate}}" autofocus  id="1" [ngModel]="item.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'employe.username' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'employe.username' | translate}}" autofocus  id="2" [ngModel]="item.username">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'employe.lastName' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'employe.lastName' | translate}}" autofocus  id="3" [ngModel]="item.lastName">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'employe.password' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'employe.password' | translate}}" autofocus  id="4" [ngModel]="item.password">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'employe.salaire' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'employe.salaire' | translate}}" [ngModel]="item.salaire"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'employe.diplome' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'employe.diplome' | translate}}" autofocus  id="6" [ngModel]="item.diplome?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'employe.entiteAdmin' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'employe.entiteAdmin' | translate}}" autofocus  id="7" [ngModel]="item.entiteAdmin?.departement">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



